myservice.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:8000/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="MyService"
             targetNamespace="http://localhost:8000/wsdl">

  <message name="MyFunctionRequest">
    <part name="testParam" type="xsd:string"/>
  </message>
  <message name="MyFunctionResponse">
    <part name="status" type="xsd:string"/>
  </message>
  
  <message name="MyAsyncFunctionRequest">
    <part name="testParam" type="xsd:string"/>
  </message>
  <message name="MyAsyncFunctionResponse">
    <part name="status" type="xsd:string"/>
  </message>

  <portType name="MyPort">
    <operation name="MyFunction">
      <input message="tns:MyFunctionRequest"/>
      <output message="tns:MyFunctionResponse"/>
    </operation>
    <operation name="MyAsyncFunction">
      <input message="tns:MyAsyncFunctionRequest"/>
      <output message="tns:MyAsyncFunctionResponse"/>
    </operation>
  </portType>

  <binding name="MyFunction_Binding" type="tns:MyPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="MyFunction">
      <soap:operation soapAction="MyFunction"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </output>
    </operation>
    <operation name="MyAsyncFunction">
      <soap:operation soapAction="MyAsyncFunction"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </output>
    </operation>
  </binding>

  <service name="MyService">
    <port name="MyPort" binding="tns:MyFunction_Binding">
      <soap:address location="http://localhost:8000/soap"/>
    </port>
  </service>

</definitions>