servidor/myservice.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:8000/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="MyService"
             targetNamespace="http://localhost:8000/wsdl">

  <!-- Definição de mensagens -->
  <message name="getUsersRequest">
    <part name="authentication" type="tns:AuthHeader"/>
  </message>

  <message name="getUsersResponse">
    <part name="users" type="tns:UserList"/>
  </message>

  <!-- Tipos: Definindo o tipo AuthHeader para a autenticação -->
  <types>
    <xsd:schema targetNamespace="http://localhost:8000/wsdl">
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="CODIGO" type="xsd:int"/>
          <xsd:element name="COD_FUNCIONARIO" type="xsd:int"/>
          <xsd:element name="NOME" type="xsd:string"/>
          <xsd:element name="SENHA" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="UserList">
        <xsd:sequence>
          <xsd:element name="user" type="tns:User" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Definição do tipo para o cabeçalho de autenticação -->
      <xsd:complexType name="AuthHeader">
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string"/>
          <xsd:element name="password" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- PortType e operação -->
  <portType name="MyPort">
    <operation name="getUsers">
      <input message="tns:getUsersRequest"/>
      <output message="tns:getUsersResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="MyPortBinding" type="tns:MyPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getUsers">
        <soap:operation soapAction="http://localhost:8000/wsdl/getUsers"/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
  </binding>

  <!-- Serviço -->
  <service name="MyService">
    <port name="MyPort" binding="tns:MyPortBinding">
      <soap:address location="http://localhost:8000/soap"/>
    </port>
  </service>

</definitions>
